<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>

    </ion-toolbar>
  </ion-header>

  <div class="container" id="c1">
    <img
      src="https://www.kindpng.com/picc/m/178-1786850_maps-icono-mapa-hd-png-download.png"
      id="c1">
  </div>
  <div class="container" id="c3">
    <br>
    <ion-card style="background-color: #1f2949;;">
      <ion-card-header>
        <ion-card-title>Seleccione tipo de usuario</ion-card-title>
      </ion-card-header>
        <div class="ion-padding">
          <ion-item>
            <ion-select [(ngModel)]="selectedVal">
              <ion-select-option *ngFor="let item of data xd" [value] ="item.id">
                {{item.name}}
              </ion-select-option>
            </ion-select>
            
          </ion-item>
        </div>
      <ion-card-content>
        <ion-footer>
          <ion-toolbar class="ion-center">
            <ion-button (click)="redirigirSegunSeleccion()" expand="full">
              Redirigir
            </ion-button>
          </ion-toolbar>
        </ion-footer>
      </ion-card-content>
      
    </ion-card>

  </div>

</ion-content>